/*  your css code here. If applicable */
 body {
      margin-top: 30px;
    }
    .delete {
      color: white;
      background-color: red;
      border: none;
      padding: 4px 8px;
      cursor: pointer;
    }